.CastImg {
    width: 100%;
    box-shadow: 5px 5px 5px #2e2f34;
    border-radius: 7px;
}

.CastItem {
    list-style-type: none;
}

.CastItem p {
    font-size: 18px;
    font-weight: 500;
}

.CastList {
    text-align: center;
    width: 70%;
    grid-gap: 2vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
}
