.CastImg {
    width: 120px;
}

.CastItem {
    list-style-type: none;
    font-size: 12px;
}

.CastList {
    text-align: center;
    width: 70%;
    grid-gap: 2vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
}
