.App {
    /* height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px; */
    color: #010101;
}

/* .NavLink {
    margin-left: 15px;
    text-decoration: none;
    color: #010101;
}

.NavLink .active {
    color: red;
}

.Header {
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin-bottom: 15px;
} */



